**/__pycache__/
**/.ipynb_checkpoints/
*.py[cod]
.vs/
*.synctex.gz
**/data/
**/processed_data/
**.sh
**.err
**.log
**/example/
**/0UEA_base/
**.npy
**/Full_Results/
**/results/
**.ipynb
**.pth
**/SEPSIS_1108/
**/SEPSIS_baseline/
**/Stock_1108/
**/Stock/
**/Stock_1108/
**/trained_model/
**/UEA_1108/